PGBR_DATA=/var/lib/pgbr/data

ENCRYPTION_KEY=sjDvhC0lj8l3KQDUZDrlcqBQcdfeQGHbyOLOOQhNpaQ= # openssl rand -base64 32

AUTH_SECRET=98WudR8bcuJ4c7NHZtH4MiwthOrRerM7 # openssl rand -base64 32
BASE_URL=http://localhost:3000